.yellow {
    --bg-color: #ffd861;
    --bg-color-light: #ffeeba;
    --text-color-hover: white;
    --box-shadow-color: hsla(45, 100%, 69%, 0.478);
}

.green {
    --bg-color: #b8f9d3;
    --bg-color-light: #e2fced;
    --text-color-hover: white;
    --box-shadow-color: rgba(184, 249, 211, 0.48);
}

.purple {
    --bg-color: #ceb2fc;
    --bg-color-light: #f0e7ff;
    --text-color-hover: white;
    --box-shadow-color: rgba(206, 178, 252, 0.48);
}
.black {
    --bg-color: #494949;
    --bg-color-light: #ffffff;
    --text-color-hover: white;
    --box-shadow-color: rgba(1, 1, 1, 0.48);
}

.light-blue {
    --bg-color: #dce9ff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: white;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}
.blue {
    --bg-color: #7cedff;
    --bg-color-light: #f1f7ff;
    --text-color-hover: white;
    --box-shadow-color: rgba(220, 233, 255, 0.48);
}

.card {
    width: 13rem;
    height: 18.5rem;
    background: var(--bg-color-light);
    border-top-right-radius: 0.8rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    box-shadow: 0 14px 26px rgba(0, 0, 0, 0.04);
    transition: all 0.3s ease-out;
    text-decoration: none;
    cursor: pointer;
    /* margin-top: 1rem; */
    margin: 1rem 0.25rem;
}

.card:hover {
    transform: translateY(-5px) scale(1.005) translateZ(0);
    box-shadow: 0 24px 36px rgba(0, 0, 0, 0.11),
        0 24px 46px var(--box-shadow-color);
}

.card:hover .overlay {
    transform: scale(4) translateZ(0);
}

.card:hover .circle {
    border-color: var(--bg-color-light);
    background: var(--bg-color);
}

.card:hover .circle:after {
    background: var(--bg-color-light);
}

.card:hover p {
    color: var(--text-color-hover);
    text-shadow: 1px 1px 1px #000;
}

.card:active {
    transform: scale(1) translateZ(0);
    box-shadow: 0 15px 24px rgba(0, 0, 0, 0.11),
        0 15px 24px var(--box-shadow-color);
}

.card p {
    font-size: 1.2rem;
    color: #4c5656;
    margin-top: 1.8rem;
    z-index: 1000;
    transition: color 0.3s ease-out;
}

.circle {
    width: 8.18rem;
    height: 8.18rem;
    border-radius: 50%;
    background: #fff;
    border: 2px solid var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    z-index: 1;
    transition: all 0.3s ease-out;
}

.circle:after {
    content: "";
    width: 7.3rem;
    height: 7.3rem;
    display: block;
    position: absolute;
    background: var(--bg-color);
    border-radius: 50%;
    top: 0.43rem;
    left: 0.43rem;
    transition: opacity 0.3s ease-out;
}

.circle svg {
    z-index: 10000;
    transform: translateZ(0);
}

.overlay {
    width: 7.3rem;
    position: absolute;
    height: 7.3rem;
    border-radius: 50%;
    background: var(--bg-color);
    top: 4.375rem;
    left: 3.125rem;
    z-index: 0;
    transition: transform 0.3s ease-out;
}
